{% extends 'index.html' %}
{% block content %}
<a href="{% url 'create' %}">Create</a>

<form method="get" action="{% url 'tovary' %}">
    <input type="text" name="search" placeholder="Поиск по названию" value="{{ request.GET.search }}">
    <button type="submit">Найти</button>
</form>

<ul>
{% for tovar in tovars %}
    <li> {{ tovar.title }} <a href="{% url 'delete' tovar.pk %}">Delete</a>
        <a href="{% url 'update' tovar.pk %}">Update</a>
        <a href="{% url 'detail' tovar.pk %}">About</a></li>
{% endfor %}
</ul>
{% endblock %}