{% extends 'index.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}
<header class="header">
    <button class="header__create-btn"><a href="{% url 'create' %}">Создать</a></button>
    <button class="header__zakaz-btn"><a href="{% url 'create' %}">Заказать</a></button>
</header>

<div class="container">
    <form method="get" action="{% url 'tovary' %}">
        <input type="text" name="search" placeholder="Поиск по названию" value="{{ request.GET.search }}">
        <button type="submit">Найти</button>
    </form>
{% for tovar in tovars %}
    <div class="container__tovar-card">
        {{ tovar.title }}
        <button class="container__tovar_about-btn">
            <a href="{% url 'detail' tovar.pk %}">
                Подробнее
            </a>
        </button>
    </div>
    
{% endfor %}

{% endblock %}